<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  	<div class="container">
    <h1>Contact</h1>
    <p>
      Contact us at 555-5384
    </p>
</div>
  </body>
</html>