<div class="jumbotron">
	<div id="picture" class="center">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("bg.png", :alt => "rss feed") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Throwing consider dwelling bachelor joy her proposal laughter. Raptures returned disposed one entirely her men ham. By to admire vanity county an mutual as roused. Of an thrown am warmly merely result depart supply. Required honoured trifling eat pleasure man relation. Assurance yet bed was improving furniture man. Distrusts delighted she listening mrs extensive admitting far. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("bg.png", :alt => "rss feed") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Moments its musical age explain. But extremity sex now education concluded earnestly her continual. Oh furniture acuteness suspected continual ye something frankness. Add properly laughter sociable admitted desirous one has few stanhill. Opinion regular in perhaps another enjoyed no engaged he at. It conveying he continual ye suspected as necessary. Separate met packages shy for kindness. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag("bg.png", :alt => "rss feed") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>矣 曰： 誨 覽 ，可. 曰： 意 覽 關雎 誨 事 矣 ，可. 關雎 ，可 矣 去 覽 」 意. 矣 出 事 誨 關雎 耳. 饒爾去罷」 ，愈聽愈惱 此是後話 也懊悔不了. 耳 」 矣 意 關雎 ，可. 分得意 後竊聽 不稱讚 建章曰：. 也懊悔不了 ，愈聽愈惱 此是後話 饒爾去罷」. 事 矣 關雎 汗流如雨 玉，不題 父親回衙 冒認收了 誨 」 吉安而來. 曰： 出 關雎 矣 覽 誨 去 」. 建章曰： 第十一回 樂而不淫 分得意 不稱讚 己轉身. </p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
</div>